<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>EmbeddedPrivilegeDispensation</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>DYLD_INSERT_LIBRARIES</key>
    <string>/Library/MobileSubstrate/MobileSubstrate.dylib</string>
  </dict>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>com.apple.SpringBoard</string>
  <key>MachServices</key>
  <dict>
    <key>PurpleSystemEventPort</key>
    <dict>
      <key>ResetAtClose</key>
      <true/>
    </dict>
    <key>com.apple.CARenderServer</key>
    <dict>
      <key>ResetAtClose</key>
      <true/>
    </dict>
    <key>com.apple.SBUserNotification</key>
    <true/>
    <key>com.apple.UIKit.statusbarserver</key>
    <true/>
    <key>com.apple.iohideventsystem</key>
    <dict>
      <key>ResetAtClose</key>
      <true/>
    </dict>
    <key>com.apple.smsserver</key>
    <dict>
      <key>ResetAtClose</key>
      <true/>
    </dict>
    <key>com.apple.springboard</key>
    <dict>
      <key>ResetAtClose</key>
      <true/>
    </dict>
    <key>com.apple.springboard.UIKit.migserver</key>
    <dict>
      <key>ResetAtClose</key>
      <true/>
    </dict>
    <key>com.apple.springboard.alerts</key>
    <dict>
      <key>ResetAtClose</key>
      <true/>
    </dict>
    <key>com.apple.springboard.appstatechanged</key>
    <dict>
      <key>HideUntilCheckIn</key>
      <true/>
    </dict>
    <key>com.apple.springboard.backgroundappservices</key>
    <dict>
      <key>ResetAtClose</key>
      <true/>
    </dict>
    <key>com.apple.springboard.processassertionservices</key>
    <dict>
      <key>HideUntilCheckIn</key>
      <true/>
      <key>ResetAtClose</key>
      <true/>
    </dict>
    <key>com.apple.springboard.processinvalidation</key>
    <dict>
      <key>HideUntilCheckIn</key>
      <true/>
    </dict>
    <key>com.apple.springboard.remotenotifications</key>
    <dict>
      <key>ResetAtClose</key>
      <true/>
    </dict>
    <key>com.apple.springboard.services</key>
    <dict>
      <key>ResetAtClose</key>
      <true/>
    </dict>
    <key>com.apple.springboard.watchdogserver</key>
    <true/>
  </dict>
  <key>ProgramArguments</key>
  <array>
    <string>/System/Library/CoreServices/SpringBoard.app/SpringBoard</string>
  </array>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>UserName</key>
  <string>mobile</string>
</dict>
</plist>